<!DOCTYPE html>
<html>
  <head>
    <style>
      .feedcard {
        background-color: white;
        min-height: 350px;
      }
    </style>
  </head>
  <body>
    <div class="feedcard shadow p-3 mb-5 bg-white rounded">
      <div class="row">
        <h5>Vinod's Birthday Glimpse</h5>
        <hr />
      </div>
      <div class="row">
        <img
          src="/assets/images/devathi.jpg"
          alt="Profile"
          height="500px"
        />
        <hr/>
      </div>
      <div class="row">
          <div class="col col-md-4">
               <button class="btn btn-outline-dark">
                <fa-icon [icon]="faMemory" class="fa-sm"></fa-icon>   
                Add To Memory</button>
          </div>
          
          <div class="col col-md-5">
            <button class="btn btn-outline-dark">
                <fa-icon [icon]="faTrash" class="fa-sm"></fa-icon>
                Remove From Feed</button>
          </div>
          <div class="col col-md-3">
            <button class="btn btn-outline-dark">
                <fa-icon [icon]="faDownload" class="fa-sm"></fa-icon>
                Download</button>
          </div>
      </div>
    </div>
  
  </body>
</html>
