<!DOCTYPE html>
<html>
    <head>
       <style>
          .rcard{
              background-color: #367fa3;
              padding: 5px;
              margin-bottom: 5px;
              color: white;
              border-radius: 10px;
          }
       </style>
    </head>
    <body>
        <div class=" row rcard">
            <fa-icon [icon]="fagift" class="fa-lg col col-md-1 "> </fa-icon>
            <span class="col col-md-6 offset-md-1">
                Vinod Rasineni 
            </span>
            <button class="col col-md-3 btn btn-light btn-sm">Wish</button>
           
           
        </div>
        <div class="row rcard">
            <fa-icon [icon]="fagift" class="fa-lg col col-md-1"> </fa-icon>
            <span class="col col-md-6 offset-md-1">
            Praveen Kumar 
            </span>
            <button class="col col-md-3 btn btn-light btn-sm">Wish</button>

        </div>
        <div class="row rcard">
            <fa-icon [icon]="fagift" class="fa-lg col col-md-1"> </fa-icon> 
            <span class="col col-md-6 offset-md-1">
            Sai Suman
            </span>
            <button class="col col-md-3 btn btn-light btn-sm">Wish</button>
        </div>
       
    </body>
</html>
